body {
	background-image: url("../images/Red-Back.png");
	margin: 0px;
	padding: 0px;
}

.jumbotron {
	background-color: black;
	color: white;
}

.target-number {
	font-size: 30px;
	background-color: black;
	border-style: solid;
	border-color:red;
    border-width: 4px;
    color: white;
}

.win-lose-counter {
	background-color: black;
	border-style: solid;
	border-color: red;
    border-width: 4px;
    color: white;
}

.crystal-images {
	margin-top: 10px;
	margin-bottom: 10px;
}

.total-score {
	color: white;
	background-color: black;
}

.score-number {
	color: white;
    background-color: black;
	font-size: 30px;
}
.panel-body {
    background-color: black;
    color: white;

}